<p>
  <a href="#!/">Back</a>
</p>
<p class="text-center" ng-show="loading">
  <span class="fa fa-spinner fa-spin fa-3x"></span>
</p>
<table class="table table-striped">
  <tr>
    <th>name</th>
    <td>{{event.name}}</td>
  </tr>
  <tr>
    <th>description</th>
    <td>{{event.description}}</td>
  </tr>
  <tr>
    <th>templateId</th>
    <td>{{event.templateId}}</td>
  </tr>
  <tr>
    <th>contactEmail</th>
    <td>{{event.contactEmail}}</td>
  </tr>
  <tr>
    <th>time</th>
    <td>{{event.time}}</td>
  </tr>


</table>
